<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>

  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>

  <% if (success) { %>
    <p style="color: green;"><%= success %></p>
  <% } %>
  
  <div class="login-wrapper">
    <div class="login-box">
      <h2>Reset Your Password</h2>

      <form action="/reset-password" method="POST">
        <input type="hidden" name="email" value="<%= email %>">
        
        <label class="reset-password-label">New Password:</label>
        <input type="password" name="newPassword" required>

        <label class="reset-password-label">Confirm Password:</label>
        <input type="password" name="confirmPassword" required>

        <button class="reset-password" type="submit">Reset Password</button>
      </form>

      <br>
      <a href="/login" class="bck-to-login">← Back to Login</a>
    </div>
  </div>
</body>
</html>
